body{
    margin: 0;
}

.mainpic{
    width: 100%;
    height: 70vh;
    object-fit: cover; 
    object-position: center; 
    }
    
    .header{
    margin: 0 auto;
    max-width: 960px;
    padding:10px;
    display: flex;
    justify-content: space-between;
    }
    
    
    .profile{
     background-color: rgb(58, 58, 58);
     color:white;
     font-size: 25px;
     padding: 10px 20px 10px 20px;
     text-decoration: none;
    }
    
    /* 單純用class設定去不掉底線,為何？ */
    a:link,
    a:visited{
      text-decoration: none!important;
      color:rgb(58, 58, 58);
    }

    .menu-button{
    display: inline-block;
    line-height: 25px; 
    padding: 10px 8px 10px 8px;
    }
    
    .wrapper{
    width: 50%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    }
    
    
    .section-title{
    border-bottom: 0.5px solid rgb(58, 58, 58);
    color:rgb(58, 58, 58);
    font-size: 35px;
    font-weight: bolder;
    display: inline-block;
    }
    
    
    .content>img{
      height: 90px;
      width: 90px;
      border-radius: 90px;
      margin:auto 0;
      margin-right: 15px;
    }
    
    .text{
    color:rgb(58, 58, 58);
    }
    
    .content{
    margin-top: 35px;
    display: flex;
    min-width: 400px;
    }
    
    
    p{
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      unicode-bidi: isolate;
      word-break: break-all; 
    }
    


    .section-title2{
    border-bottom: 0.5px solid rgb(58, 58, 58);
    color:rgb(58, 58, 58);
    font-size: 35px;
    font-weight: bolder;
    display: inline-block;
    margin: 0 auto;
    }


   #bicycle{
    text-align: center;
   }

    ul{
        text-align: center; /* 置中列表項 */
        display: inline-block; /* 防止父容器影響 */
        margin: 0 auto; /* 讓 ul 本身置中 */
        margin-top: 50px;
        padding: 0;
      }
    
   

      li {
        list-style: none;
        display: inline-block; /* 改用 inline-block 替代 float */
        margin-right: 10px;
      }

      li>h3{
      padding-top: 5px;
      margin-top: 0;
      }

    li>img{
    width: 300px;
    }


   #footer{
font-size: 12px;
color:gray;
text-align: center;
margin-top: 80px;
   }


    @media(max-width:1071px){
    li>img{
    width: 28vw;
    }   
    }

    
    @media(max-width:600px){
    .content{
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    }
    
    .content>img{
      margin-right: 0;
      margin-top: 15px;
    }
    
    .text{
    margin: 0 20px;
    }

    li{
    display: block;
    margin-right: 0;
    }

    li>img{
        width: 85vw;
    }
    }

